
.wrapper {
    background: linear-gradient(to right, #e67e22, #e74c3c);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 90vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
}
